
tags
*.vim
.vimspec*.json

*l4b.php
*L4b.php
*1530*
1530/

.env

node_modules/
dist/

*.class
*.py[cod]
*.log
*.jar

target/
dist/

.idea/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

App/Controller/DebugController.php
App/Model/DebugModel.php
App/view/debug.php

